<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="compactor" type="Rejuicer.Configuration.CompactorConfiguration, Rejuicer"/>
  </configSections>
  <compactor Cache="true" Compact="true" Combine="true"/>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
